<h1>Editing Articulo</h1>

<%= render 'form' %>

<nav class="navbar navbar-default">
   <ul class="nav navbar-nav">
<li><%= link_to 'Mostrar', @articulo %></li>
<li><%= link_to 'Atras', articulos_path %></li> 

  </ul>
</nav>