<p id="notice"><%= notice %></p>

<h1>LISTA DE ARTICULOS</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.cuerpo %></td>
        <td><%= articulo.fecha %></td>
        <td><%= link_to 'Motrar', articulo %></td>
        <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Destruir', articulo, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articulo', new_articulo_path %>
<div class=**"container">
  <div claas="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
       chavez chavez Chavez Maduro maduro maduro chavez chavez chavez maduro maduro maduro
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
       Chavez chavez chavez Maduro maduro maduro chavez chavez chavez maduro maduro maduro
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
       chavez chavez chavez maduro maduro maduro chavez chavez Chavez Maduro maduro maduro
    </div>
  </div>
</div>
<ul class="media-list">
  <li>
    A <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
    <UL>
    <li class= "media">
    AA 
  </li>
   <li class= "media">
    AB
  </li>
   <li class= "media">
    AC
  </li>
  </UL>
  </li>
   <li class= "media">
    B
  </li>
   <li class= "media">
    C
  </li>
    
</ul>


  