<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
<p id="notice"><%= notice %></p>
</div>
<% end %>
<p>
  <strong>Titulo:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @articulo.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>
<nav class="navbar navbar-default">
   <ul class="nav navbar-nav">
<li><%= link_to 'Editar', edit_articulo_path(@articulo) %> </li>
<li><%= link_to 'Atras', articulos_path %></li> 
<li><%= link_to 'Nuevo Comentario', new_comentario_path(articulo_id: @articulo.id) %></li>
  </ul>
</nav>
<h1>Listing Comentarios</h1>
<ul>
    <%  @articulo.comentarios.each do |comentario| %>
      
       <li><%= comentario.autor %></li>
        <ul>
          <li><%= comentario.cuerpo %></li>
          <li><%= comentario.fecha %></li>
        </ul>
        <%= link_to 'MOSTRAR', comentario %>
        <%= link_to 'EDITAR', edit_comentario_path(comentario) %>
        <%= link_to 'ELIMINAR', comentario, method: :delete, data: { confirm: 'Estas Seguro?' } %>
    <% end %>
  </ul>
<br>




